/* basics */

body {
  font-family: "Roboto", sans-serif;
  background-color: #63d471;
}

body::-webkit-scrollbar {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #63d471;
  border-radius: 10px;
}

h1 {
  font-size: 2.3rem;
}
hr {
  border-top: #4e7d55 10px dotted;
  border-left: 0;
  border-right: 0;
  width: 5rem;
  margin: 2em auto 3em;
}

h2 {
  font-size: 44px;
  font-weight: 700;
}

h3 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 25px;
}

h5 {
  font-size: 16px;
}

p {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #53627c;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

b {
  font-weight: 700;
}

section {
  padding: 100px 0px;
}

.title-block {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  text-align: center;
}

.title-block p {
  font-size: 20px;
  font-weight: 300;
  color: #8da2b5;
  margin-bottom: 0px;
}

.divider {
  padding: 2rem 0 0;
  margin: 2rem 0 0;
  border-top: 1px solid #3c3f45;
}

.divider-light {
  padding: 2rem 0 0;
  margin: 2rem 0 0;
  border-top: 1px solid #edf1f2;
}

li {
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #53627c;
}

/* ==============================================
   2. Navbar 
===============================================*/
.navBar {
  box-sizing: border-box;
  margin: 0px 16px;
  min-width: 0px;
  position: sticky;
  top: 12px;
  z-index: 100;
  text-align: center;
}

.navdiv {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: inline-flex;
  border-radius: 28px;
  padding: 4px;
  backdrop-filter: saturate(180%) blur(30px);
  text-align: center;
  background-color: rgba(255, 255, 255, 0.1);
}

.navdiv a {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  text-decoration: none;
  transition: all 0.2s linear 0s;
  font-size: 13px;
  font-weight: 700;
  display: block;
  color: rgb(0, 0, 0);
  padding: 8px 13px;
  font-size: 18px;
}

/* Home page */
.title {
  font-family: "Sacramento", cursive;
  margin: 5;
  text-align: center;
}
.p-anim {
  width: 30em;
}

.center {
  text-align: center;
}

#home {
  background-color: #63d471;
}

#home h1 {
  font-size: 50px;
  font-weight: 300;
}

#home p {
  font-size: 24px;
  font-weight: 300;
  color: #4e7d55;
  margin-bottom: 0px;
  padding: 0px;
}

#home span {
  font-weight: 400;
  color: #0f3f49;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

/* curve */
.wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave svg {
  position: relative;
  display: block;
  width: calc(113% + 1.3px);
  height: 93px;
}

.wave .shape-fill {
  fill: #63d471;
}

/*curve end */

/* another curve */
.wave3 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.wave3 svg {
  position: relative;
  display: block;
  width: calc(300% + 1.3px);
  height: 95px;
  transform: rotateY(180deg);
}

.wave3 .shape-fill {
  fill: #63d471;
}
/* another curve end */

/* About page */

/* .box {
  width: 35%;
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
} */

/* #Contact {
  background-color: #49f06d;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
  padding-top: 100px;
} */

/* about */
#about {
  background-color: #0f3f49;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
  padding-top: 100px;
}

#about h1 {
  font-size: 50px;
  font-weight: 300;
  color: #63d471;
}

#about h2 {
  font-size: 30px;
  font-weight: 300;
  color: #63d471;
}

#about p {
  font-size: 24px;
  font-weight: 300;
  color: #4e7d55;
  margin-bottom: 0px;
  padding: 0px;
}

/* end of about */
/* skills */
#skills {
  background-color: #0f3f49;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
  padding-top: 100px;
  margin: 0px;
}

#skills h1 {
  font-size: 50px;
  font-weight: 300;
  color: #63d471;
}

#skills h3 {
  font-size: 30px;
  font-weight: 300;
  color: #63d471;
  text-align: center;
}

/* Projects */
#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
  padding-top: 100px;
  justify-content: center;
}
.procontainer {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  position: relative;
  background-color: #63d471;
  border: none;
}
.face {
  width: 300px;
  height: 200px;
  transition: 0.4s;
}
.face1 {
  position: relative;
  background: #0f3f49;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}
.card:hover .face.face1 {
  transform: translateY(0);
  box-shadow: inset 0 0 60px whitesmoke, inset 20px 0 80px #f0f,
    inset -20px 0 80px #0ff, inset 20px 0 300px #f0f, inset -20px 0 300px #0ff,
    0 0 50px #fff, -10px 0 80px #f0f, 10px 0 80px #0ff;
}
.face.face1 .content {
  opacity: 0.2;
  transition: 0.5s;
  text-align: center;
}
.card:hover .face.face1 .content {
  opacity: 1;
}
.face.face1 .content i {
  font-size: 3em;
  color: white;
  display: inline-block;
}
.face.face1 .content h3 {
  font-size: 1em;
  color: white;
  text-align: center;
}
.face.face1 .content a {
  transition: 0.5s;
}
.face.face2 {
  position: relative;
  background: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  transform: translateY(-100px);
}
.card:hover .face.face2 {
  transform: translateY(0);
}
p,
.procontainer a {
  font-size: 10pt;
  margin: 0;
  padding: 0;
  color: #333;
}
.procontainer a {
  text-decoration: none;
  color: black;
  box-sizing: border-box;
  outline: 1px dashed #333;
  padding: 10px;
  margin: 15px 0 0;
  display: inline-block;
}
.procontainer a:hover {
  background: #333;
  color: whitesmoke;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
}

/* contact section styles */

#contact {
  margin: 0em auto 2em;
}

#contact p {
  width: 25em;
  margin: 0.3em auto 0;
  font-size: 1.1rem;
  margin-bottom: 2.5em;
}

#contact h1 {
  text-align: center;
}
#contact h2 {
  text-align: center;
}
/* center e-btn */
.e-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 2em;
  margin-bottom: 2em;
  background-color: #0f3f49;
  padding: 1em 1.2em;
  font-size: 1.2rem;
  border-radius: 1em;
  border-style: unset;
  cursor: pointer;
  margin-bottom: 2em;
}

.e-btn a {
  color: white;
}

/* Footer styles */
footer {
  margin: 6em 0 0;
  text-align: center;
  font-size: 0.9rem;
}
footer a {
  margin: 0.5em 0.5em 0;
  color: #333;
}
footer a:hover {
  color: #0f3f49;
}

/* circular bar */
.progress {
  width: 150px;
  height: 150px;
  line-height: 150px;
  background: none;
  margin: 0 auto;
  box-shadow: none;
  position: relative;
}
.progress:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 15px solid #f2f5f5;
  position: absolute;
  top: 0;
  left: 0;
}
.progress > span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}
.progress .progress-left {
  left: 0;
}
.progress .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 15px;
  border-style: solid;
  position: absolute;
  top: 0;
}
.progress .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}
.progress .progress-right {
  right: 0;
}
.progress .progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
  animation: loading-1 1.8s linear forwards;
}
.progress .progress-value {
  width: 100%;
  height: 100%;
  font-size: 24px;
  color: rgb(250, 245, 245);
  text-align: center;
  position: absolute;
}
.progress.blue .progress-bar {
  border-color: #26abfd;
}
.progress.blue .progress-left .progress-bar {
  animation: loading-2 1.5s linear forwards 1.8s;
}
.progress.yellow .progress-bar {
  border-color: #fdc426;
}
.progress.yellow .progress-left .progress-bar {
  animation: loading-3 1s linear forwards 1.8s;
}
.progress.pink .progress-bar {
  border-color: #f83754;
}
.progress.pink .progress-left .progress-bar {
  animation: loading-4 0.4s linear forwards 1.8s;
}
.progress.green .progress-bar {
  border-color: #1abc9c;
}
.progress.green .progress-left .progress-bar {
  animation: loading-5 1.2s linear forwards 1.8s;
}
@keyframes loading-1 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}
@keyframes loading-2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(144deg);
    transform: rotate(144deg);
  }
}
@keyframes loading-3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
@keyframes loading-4 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(36deg);
    transform: rotate(36deg);
  }
}
@keyframes loading-5 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(126deg);
    transform: rotate(126deg);
  }
}
@media only screen and (max-width: 990px) {
  .progress {
    margin-bottom: 20px;
  }
}

/* end of circular bar */
